/*--Sidenav--*/
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.row.content {
    height: 100rem;
}

/*--Dashboard--*/

.well {
    margin: 2rem;
}

/*--Footer--*/
footer {
    background-color: #555;
    color: white;
    padding: 2rem;
}

/*--On small screens--*/
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 2rem;
    }

    .row.content {
        height: auto;
    } 
}